body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #474f59;
  font-size: 16px;
  font-family: Roboto, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: all 0.3s;
}
a {
  text-decoration: none;
  color: #474f59;
  transition: all 0.3s;
  opacity: 1;
  font-size: 14px;
}
a:hover {
  opacity: 0.8;
  cursor: pointer;
}
h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 0px;
  width: auto;
}
h2 {
  font-size: 40px;
  font-weight: 600;
}
h3 {
  font-size: 24px;
  font-weight: 500;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
li {
  list-style: none;
}
.active {
  opacity: 1 !important;
  color: #676b72;
}
.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 32px 48px;
  align-items: center;
  height: 56px;
  z-index: 99 !important;
}
.logo {
  height: 32px;
}
section {
  min-height: 100vh;
}
.menu {
  position: relative;
  display: flex;
}
.menu a {
  font-size: 14px;
  margin-left: 24px;
  letter-spacing: 1.6px;
  transition: all 0.3s;
  opacity: 0.5;
}
.menu a:hover {
  opacity: 1;
  transform: translateX(2px);
}
.hero {
  display: flex;
  justify-content: flex-end;
}
.hero-text {
  margin-top: 160px;
  max-width: 200px;
  border-left: 1px solid #d3dbe4;
  border-bottom: 1px solid #d3dbe4;
  border-top: 1px solid #d3dbe4;
  padding: 32px;
  max-height: 280px;
}
.hero-text h1 {
  font-size: 88px;
  font-weight: 500;
  margin: 0px !important;
}
.hero-text p {
  max-width: 128px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}
.hero-text a {
  margin-top: 40px;
  font-size: 14px;
  font-weight: 300;
}
.hero-bg {
  height: 600px;
  width: 1024px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-bg:after {
  content: '';
  height: 100%;
  width: 100%;
  background: #676b72;
}
.control-wrapper {
  display: flex;
  height: 320px;
  width: 900px;
  z-index: 2;
  align-items: center;
  padding: 32px;
  position: absolute;
}
.hero-image {
  height: 500px;
  width: 768px;
  background: #555;
  position: absolute;
  z-index: 3;
}
.controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.controls > * {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  transition: all 0.3s;
  cursor: pointer;
}
.controls > *:hover {
  opacity: 1;
  cursor: pointer;
}
.controls .control_prev {
  background: url("../media/chev-l.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-left: 1px solid #fff;
}
.controls .control_prev:hover {
  width: 32px;
}
.controls .control_next {
  background: url("../media/chev-r.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-right: 1px solid #fff;
}
.controls .control_next:hover {
  width: 32px;
}
#slider {
  position: absolute;
  overflow: hidden;
  height: 500px !important;
  width: 768px !important;
}
#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
#slider ul li {
  position: relative;
  display: block;
  float: left;
  height: 500px;
  width: 768px;
  margin: 0;
  padding: 0;
  background: #ccc;
  text-align: center;
  background-size: cover;
}
li {
  background-size: cover;
  background-repeat: no-repeat;
}
.homepage-two {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.two-image {
  height: 500px;
  width: 770px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 64px;
  background-image: url("../media/home-two.png");
}
.two-text {
  max-width: 200px;
  z-index: 99;
}
.two-text:before {
  content: '';
  position: absolute;
  margin-left: -65px;
  margin-top: 40px;
  height: 300px;
  width: 384px;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-color: #d3dbe4;
  z-index: -1;
}
.homepage-three {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.three-image {
  height: 500px;
  width: 1120px;
  margin-bottom: 40px;
  background-image: url("../media/home-three.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.three-text {
  max-width: 640px;
  z-index: 99;
}
.three-text:before {
  content: '';
  position: absolute;
  margin-left: -64px;
  margin-top: 40px;
  height: 160px;
  width: 800px;
  border: 1px solid #d3dbe4;
  z-index: -1;
}
.homepage-four {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.four-image-left {
  height: 580px;
  width: 282px;
  margin-right: 40px;
  background-image: url("../media/four-l.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.four-image-right {
  height: 500px;
  width: 100%;
  min-width: 700px;
  background-image: url("../media/four-r.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.four-text {
  max-width: 276px;
  z-index: 99;
  margin-right: 64px;
  margin-top: -230px;
}
.four-text:before {
  content: '';
  position: absolute;
  margin-left: -24px;
  margin-top: 40px;
  height: 320px;
  width: 248px;
  border: 1px solid #d3dbe4;
  z-index: -1;
}
.homepage-five {
  height: 130vh;
  align-items: center;
  justify-content: center;
}
.clients-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.clients-wrapper .title {
  margin-bottom: 64px;
}
.client-grid {
  display: flex;
}
.client-grid .col {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 16px;
}
.client-grid .client {
  width: 240px;
  height: 160px;
  border: 1px solid #d3dbe4;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s;
}
.client-grid .client img {
  transform: scale(0.4);
  opacity: 0.4;
  transition: all 0.8s;
  -webkit-filter: invert(100%);
}
.client-grid .client:hover {
  border: 1px solid #676b72;
}
.client-grid .client:hover img {
  opacity: 1;
  transform: scale(0.45);
}
.footer {
  height: 300px;
  display: flex;
  background: #474f59;
}
.footer .copyright {
  width: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.footer .copyright p {
  transform: rotate(-90deg);
  position: absolute;
  font-size: 13px;
  color: #fff;
  margin-top: 88px;
}
.footer .address {
  width: 320px;
  margin-top: 40px;
  margin-left: 64px;
}
.footer .address div {
  margin-bottom: 24px;
}
.footer .address p {
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
}
.footer .footer-nav {
  width: 100%;
}
.footer .footer-nav .nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.footer .footer-nav .nav a {
  margin-right: 32px;
  color: #fff;
  transition: all 0.3s;
}
.footer .footer-nav .nav a:hover {
  color: #fff;
}
.centered-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.page-header {
  margin-top: 64px;
}
.page-header h1 {
  font-weight: 500;
}
.product-one,
.product-two,
.product-three,
.product-four {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.product-one {
  margin-top: -100px;
}
.product-content {
  max-width: 720px;
  margin-bottom: 32px;
}
.product-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.product-content p:nth-last-child(2) {
  margin-bottom: 56px;
}
.product-content a {
  font-size: 16px;
  font-weight: 500;
  margin-top: 32px;
}
.product-background {
  width: 800px;
  height: 480px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.pr1 {
  background-image: url("../media/p1.png");
  background-size: cover;
  background-repeat: none;
}
.pr2 {
  background-image: url("../media/p2.png");
  background-size: cover;
  background-repeat: none;
}
.pr3 {
  background-image: url("../media/p3.png");
  background-size: cover;
  background-repeat: none;
}
.pr4 {
  background-image: url("../media/p4.png");
  background-size: cover;
  background-repeat: none;
}
.about-us {
  max-width: 64%;
  margin-right: 5vw;
}
.about-us p {
  line-height: 24px;
  font-weight: 300;
}
.photo-bg {
  background-image: url("../media/contact-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: -1 !important;
  position: absolute;
  opacity: 0.7;
}
.flex {
  display: flex;
  margin-top: 40px;
  margin-bottom: 80px;
}
.contact-address h3 {
  font-weight: 300;
  margin-bottom: 24px;
}
.contact-address .address {
  margin-top: 56px;
}
.contact-address .address div {
  margin-bottom: 32px;
}
.contact-address .address div p {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  color: #666;
}
.message-form {
  margin-right: 88px;
}
.message-form h3 {
  font-weight: 300;
  margin-bottom: 24px;
}
label {
  font-size: 14px;
  line-height: 20px;
  color: #666;
  margin-bottom: 4px;
}
input[type=text],
input[type=email] {
  width: 278px;
  margin-right: 32px;
  height: 32px;
  background: transparent;
  border-width: 0px 0px 1px 0px;
  border-color: #676b72;
  color: #474f59;
  font-size: 14px;
  padding-left: 8px;
  outline: none;
}
input[type=text]:focus,
input[type=email]:focus {
  border-color: #d3dbe4;
}
textarea {
  background: transparent;
  border: 1px solid #666;
  color: #474f59;
  font-size: 14px;
  padding: 16px;
  outline: none;
}
textarea:focus {
  border-color: #d3dbe4;
}
#form {
  margin-top: 40px;
}
#form,
.form-element {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
#form .column,
.form-element .column {
  display: flex;
}
#submit-btn {
  margin-top: 32px;
  height: 40px;
  width: 127px;
  border: none;
  border-radius: 0px;
  font-size: 14px;
  color: #fff;
  background: #676b72;
  transition: all 0.3s;
}
#submit-btn:hover {
  background: #7b7f86;
  cursor: pointer;
}
.empty-state {
  height: 56vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty-state l,
.empty-state .empty-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty-state l a,
.empty-state .empty-wrapper a {
  font-size: 16px;
}
.dropdown {
  display: none !important;
  z-index: 99 !important;
  position: absolute;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.06), 0px 4px 8px 0px rgba(0,0,0,0.06);
  padding: 8px 16px;
  flex-direction: column;
}
.dropdown .dropdown-list {
  display: flex;
  flex-direction: column;
  min-width: 160px;
}
.dropdown a {
  z-index: 999 !important;
  letter-spacing: 0px;
  margin-bottom: 16px;
  margin-left: 8px;
}
.dropdown-wrapper {
  position: relative;
}
.dropdown-wrapper:hover .dropdown {
  display: block !important;
  opacity: 1;
}
.gallery-grid .row {
  display: flex;
  margin-bottom: 56px;
}
.gallery-grid .img-text {
  width: 50%;
}
.gallery-grid .img-text .img {
  height: 280px;
  background-size: cover !important;
}
.gallery-grid .img-text .img:first-child {
  margin-right: 24px;
}
.gallery-grid .img-text p {
  font-size: 12px;
}
.about-rarec {
  display: flex;
  align-items: flex-start;
}
.about-rarec .about-us a {
  font-weight: bold;
}
.about-rarec .about-us p {
  margin-bottom: 16px;
}
.about-rarec .about-us p:last-child {
  font-weight: bold;
}
.rarec-licence {
  margin-top: 64px;
}
.licence {
  width: 300px;
  height: 380px;
  background: url("../media/licence.png");
  background-size: cover;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.04), 0px 16px 32px 0px rgba(0,0,0,0.04);
}
.massive-image {
  width: 100%;
  height: 640px;
  background-size: cover !important;
}
